@model List<Entidades.Planos>
@{
    ViewBag.Title = "Planos";
}

@using (Html.BeginForm())
{
    <br />
    <section id="team" class="py-3">
        <div class="container">
            <div class="row mt-5">
                <div class="col">
                    <h2>Nosso  <strong>Planos</strong></h2>
                </div>
            </div>

            <div class="row mb-5 pb-2">

@foreach (var rs in Model)
{
                <div class="col-12 col-sm-6 col-lg-3 mb-4 mb-lg-0" style="padding-bottom: 20px;"> 
                    <span class="thumb-info thumb-info-hide-wrapper-bg"> 
                        <span class="thumb-info-wrapper"> 
                            <a href="about-me.html"> <img src="~/img/team/team-1.jpg" class="img-fluid" alt=""> 
                            <span class="thumb-info-title"> <span class="thumb-info-inner">@rs.Plano</span> <span class="thumb-info-type">R$@rs.Valor</span> </span> 
                            </a> 
                        </span> 
                            <span class="thumb-info-caption"> 
                                <span class="thumb-info-caption-text">Use prancha por @rs.Dias Dia(s)</span> 
                                    @*
                                        <span class="thumb-info-social-icons">
                                             <a target="_blank" href="http://www.facebook.com"><i class="fab fa-facebook-f"></i><span>Facebook</span></a>
                                             <a href="http://www.twitter.com"><i class="fab fa-twitter"></i><span>Twitter</span></a> 
                                             <a href="http://www.linkedin.com"><i class="fab fa-linkedin-in"></i><span>Linkedin</span></a>
                                        </span>
                                   *@ 
                            </span> 
                        </span> 
                </div>
}
            </div>
        </div>

    </section>
}