@{
    ViewBag.Title = "Como Funciona";
}
<br />
<br />
<!-- com o funciona - passo a passo -->
<!--Titulo Centralizado-->
<div class="row mt-4">
    <div class="col-lg-12 text-center">
        <h2 class="mt-4 mb-4" style="font-size: 45px"><strong>Como</strong> Funciona</h2>
    </div>
</div>
<!--Titulo Fim Centralizado-->

<div class="home-concept mt-5">
    <div class="container">

        <div class="row text-center">
            <span class="sun"></span>
            <span class="cloud" style="top: 53.7533px;"></span>
            <div class="col-lg-2 ml-lg-auto">
                <div class="process-image">
                    <img src="img/slides/home-concept-item-1.jpg" alt="">
                    <strong>seleção online de pranchas de surf</strong>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="process-image">
                    <img src="img/slides/home-concept-item-2.jpg" alt="">
                    <strong>reserva de pranchas</strong>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="process-image">
                    <img src="img/slides/home-concept-item-3.jpg" alt="">
                    <strong>Pegar no Afiliado</strong>
                </div>
            </div>
            <div class="col-lg-4 ml-lg-auto">
                <div class="project-image">
                    <div id="fcSlideshow" class="fc-slideshow">
                        <ul class="fc-slides">
                            <li style="display: none;"><a href="portfolio-single-small-slider.html"><img class="img-responsive" src="img/slides/project-home-2.jpg" alt=""></a></li>
                            <li style="display: none;"><a href="portfolio-single-small-slider.html"><img class="img-responsive" src="img/slides/project-home-1.jpg" alt=""></a></li>
                            <li style="display: list-item;"><a href="portfolio-single-small-slider.html"><img class="img-responsive" src="img/slides/project-home-2.jpg" alt=""></a></li>
                        </ul>
                        <nav><div class="fc-left"><span></span><span></span><span></span><i class="fa fa-arrow-left"></i></div><div class="fc-right"><span></span><span></span><span></span><i class="fa fa-arrow-right"></i></div></nav><div class="fc-flip" style="transition: none 0s ease 0s; transform: none; display: none;"><div class="fc-front"><div><a href="portfolio-single-small-slider.html"><img class="img-responsive" src="img/projects/project-home-2.jpg" alt=""></a></div><div class="fc-overlay-light" style="transition: opacity 538.462ms ease 0s; opacity: 1;"></div></div><div class="fc-back" style="transform: rotate3d(1, 1, 0, 180deg);"><div><a href="portfolio-single-small-slider.html"><img class="img-responsive" src="img/projects/project-home-3.jpg" alt=""></a></div><div class="fc-overlay-dark" style="opacity: 0; transition: opacity 538.462ms ease 0s;"></div></div></div>
                    </div>
                    <strong class="our-work">Retorna quando você acabar.</strong>
                </div>
            </div>
        </div>

    </div>
</div>

<!--teminia aqui-->